body {
    background-color: black;
}

h1, p, a {
	font-family: "Lucida Sans Typewriter";
	font-size: 24px;
}

p {
	font-family: "Lucida Sans Typewriter";
	font-size: 14px;
    margin-left: 3em;
    margin-right: 3em;
}

p, a {
    color: white;
}

a:hover {
    color: #3bfc3b;
}

path {
  stroke: #fff;
}

.sunburst-text {
    font-family: "Lucida Sans Typewriter";
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
}

.details-text {
    font-family: "Lucida Sans Typewriter";
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
}

/*
    BiPartite Graph
*/

.viz-biPartite rect{
	shape-rendering:crispEdges;
}

.viz-biPartite-mainBar{
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
