body {
    background-color: black;
}

h1, p, a {
	font-family: "Lucida Sans Typewriter";
	font-size: 24px;
}

p, a {
    color: white;
}

a:hover {
    color: #3bfc3b;
}

path {
  stroke: #fff;
}

.sunburst-text {
    font-family: "Lucida Sans Typewriter";
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
}
